body {
    background: url(../background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-bottom: 20rem;
    min-height: 100vh;
}

h1 {
    a, button {
        float: right;
        margin-left: 5px;
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    background-color: rgba($gray-darker, .60);
    color: $brand-white;
}