.fixed-panel {
    position: relative;
    width: 100%;

    .affix {
        top: 0px;

        &-disabled {
            position:absolute !important;
            top:auto !important;
            bottom:auto !important;
        }
    }
}