.icons-list-group {
    .list-group-item {
        padding-left: 45px;

        &.list-group-item-craftable {
            background-color: lighten($brand-primary, 40%);
        }

        img {
            position: absolute;
            top: 2px;
            left: 5px;
            height: 35px;
            width: auto;
        }

        .btn-remove {
            display: none;
            float: right;
            margin-right: 10px;
        }

        .btn-craft, .btn-remove {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 9px;
        }

        .progress {
            width: 70%;
            height: 1.4rem;
        }

        &:hover {
            background-color: lighten($brand-primary, 50%);

            .btn-remove {
                display: inline-block;
            }
        }
    }

    &.list-group-lg {
        .list-group-item {
            height: 5rem;
            padding-left: 55px;

            img {
                height: 45px;
            }
        }
    }
}