.login-box {
    width: 600px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    h1 {
        font-size: 7rem;
        font-family: $font-family-fancy;
    }

    $facebook-blue: #3b5998;
    .btn-facebook {
        @include button-variant($brand-white, $facebook-blue, darken($facebook-blue, 5%));
    }

    $google-red: #db3236;
    .btn-google {
        @include button-variant($brand-white, $google-red, darken($google-red, 5%));
    }

    > div {
        margin-top: 30px;
    }

    i {
        margin-right: 5px;
    }
}