.project {
    display: block;
    height: 100px;

    transition: 1s;

    .content {
        float: left;
    }
    .thumbnails {
        float: right;
    }

    &:hover {
        background-color: rgba($gray-darker, .10);
    }

}