<header class="container">
    {{#if session.isAuthenticated}}
        {{user-handle session=session}}
    {{/if}}
</header>

{{outlet}}

<footer>
    <div class="container">
        <p>{{t 'app.copyrights'}}</p>
    </div>
</footer>