<div class="container text-center">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
            {{#link-to 'workbench' class="jumbutton jumbutton-workbench"}}
                {{t 'dashboard.workbench'}}
            {{/link-to}}
        </div>
        <div class="col-lg-4">
            {{#link-to 'magebench' class="jumbutton jumbutton-magebench"}}
                {{t 'dashboard.magebench'}}
            {{/link-to}}
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-lg-offset-4 col-lg-4">
            {{#link-to 'almanax' class="jumbutton jumbutton-almanax"}}
                {{t 'dashboard.almanax'}}
            {{/link-to}}
        </div>
    </div>
</div>

{{outlet}}
