<h1>HELLO</h1>
<button class="btn btn-primary block btn-lg" {{action 'signIn' 'facebook'}}>Login with Facebook</button>
<button class="btn btn-primary block btn-lg" {{action 'signIn' 'google'}}>Login with Google</button>
